<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Book Library</title>
</head>
<body>
    <div id="library_commanding_app">
        <input v-model="bookToAddId" placeholder="New book id">
        <input v-model="bookToAddName" placeholder="New book name">
        <input type="number" v-model="yearOfPrint" placeholder="2010">
        <button v-on:click="addNewBook">Add new book</button>
        {{ info }}
    </div>

    <script src="index.js"></script>
</body>
</html>